# To fix npm install issue both locally & in Netlify - https://stackoverflow.com/questions/69351433/i-am-trying-to-host-my-react-website-on-netlify-but-there-is-a-npm-install-error
legacy-peer-deps=true