.todo-item {
    display: flex;
    align-items: center;
  }
  
.todo-item__completed {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid lightblue;
    border-radius: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.todo-item__completed img {
    height: 20px;
  }
  
  .todo-item__name {
    margin-left: 5px;
  }
  
.todo-item__delete {
    color: red;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 8px;
  }
  
.todo-item__delete:hover {
    cursor: pointer;
  }
  